# Ignore build debris
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.idx
*.ilg
*.ind
*.log
*.nav
*.out
*.snm
*.toc

# Ignore generated output
/book/courseml.pdf
/slides/01-intro/lec.pdf
/slides/01-intro/test.pdf
/slides/01-intro/training.pdf
/slides/04-feature_rep/features.pdf
/slides-beamer/kernel-slides.pdf
/slides-beamer/loss-slides.pdf
/slides-beamer/nnet-slides.pdf
/slides-beamer/perc-slides.pdf

# ignore downloaded files
/book/picins.sty

# ignore MacOS support files
.DS_Store
